<!DOCTYPE html>
<html>
    <head>
        <title>YelpCamp</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    </head>

        <nav class = "navbar navbar-default"> <!-- Navbar tag and class makes it more meaningful, default is one of many choices, -->
            <div class = "container-fluid"> <!-- container-fluid gives us nice padding and space -->
                <div class = "navbar-header"> <!-- only should contain 1 thing in it, which is the band or logo -->
                    <a class = "navbar-brand" href="/">YelpCamp</a>
                </div>
                <div class = "collapse navbar-collapse"> <!-- will disappear the options when browser gets to a certain size -->
                    <ul class = "nav navbar-nav navbar-right"> <!-- nav, indicates that this needs to be in a navbar! navbar-right makes the ul go to the right hand side of the navbar -->
                        <li><a href="/">Login</a></li>
                        <li><a href="/">Sign Up</a></li>
                        <li><a href="/">Logout</a></li>
                    </ul>
                </div>
            </div>  
        </nav>
        
    <body>
        
 